:root {
  font-family: "Overpass", sans-serif;
  --Very-light-red: hsl(13, 100%, 72%);
  --Light-red: hsl(353, 100%, 62%);
  --Light-red-CTA-text: hsl(356, 100%, 66%);
  --Very-light-red-CTA-hover-background: hsl(355, 100%, 74%);
  --Very-dark-blue-headings: hsl(208, 49%, 24%);
  --White-text: hsl(0, 0%, 100%);
  --Grayish-blue-footer-text: hsl(240, 2%, 79%);
  --Very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
  --grey-dropdown: hsl(240, 7%, 94%);
  --Very-dark-black-blue-footer-background: hsl(240, 10%, 16%);
  --Very-dark-gray-blue: hsl(237, 17%, 21%);
  --Very-dark-desaturated-blue: hsl(237, 23%, 32%);
  font-size: 1rem;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

ul {
  list-style: none;
}

h1,
h2,
h3 {
  font-family: "Ubuntu", sans-serif;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

img {
  max-width: 100%;
  display: block;
}

.conteiner {
  /* max-width: 75rem;
  padding-inline: 1.5rem; */
  width: min(100% - 3rem, 75rem);
  margin-inline: auto;
}

.ml-auto {
  margin-left: auto;
}

.flex {
  display: flex;
  gap: 0.8rem;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding-block: 1.5rem;
}

header.slide {
  background-color: hsla(13, 100%, 72%, 0.76);
  z-index: 10;
  transition: 0.5s;
}

header nav {
  flex-grow: 1;
}

header .conteiner {
  display: flex;
  gap: 4rem;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.burger-btn {
  display: none;
}

.droplist {
  display: flex;
  flex-direction: row;
  align-items: center;
  transition: 400ms;
  justify-content: space-between;
}

.outer-list {
  display: flex;
  gap: 2rem;
  color: white;
}

ul.outer-list > li {
  position: relative;
}

ul.outer-list span {
  display: flex;
  padding-block: 1rem;
  align-items: center;
  gap: 0.5rem;
}

ul.outer-list span:hover {
  font-weight: 700;
}

ul.outer-list > li > span::after {
  content: "";
  background-image: url(./images/icon-arrow-light.svg);
  display: inline-block;

  height: 0.7rem;
  width: 0.7rem;
  background-repeat: no-repeat;
  background-size: contain;
}

ul li ul {
  color: black;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
}

ul li {
  padding-block: 0.3rem;
  cursor: pointer;
}

/* ul li ul li:hover {
  font-weight: 700;
}

ul li:hover span::after {
  transform: rotate(180deg);
} */

@media screen and (min-width: 768.1px) {
  ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
  }
  ul li:hover ul {
    opacity: 1;
    visibility: visible;
  }
  ul.outer-list span:hover {
    text-decoration: underline;
  }
}

.btn-solid {
  background-color: white;
  border-radius: 1.5rem;
  padding-block: 0.8rem;
  padding-inline: 1.2rem;
  color: hsl(353, 100%, 62%);
  font-weight: 600;
}

.btn-solid:hover {
  background-color: var(--Very-light-red-CTA-hover-background);
  color: white;
}

.btn-outline:hover {
  background-color: white;
  color: hsl(353, 100%, 62%);
}

.btn-outline {
  border: 1px solid white;
  border-radius: 1.5rem;
  padding-block: 0.6rem;
  padding-inline: 1.2rem;
  color: white;
  font-weight: 600;
}

@media screen and (max-width: 768px) {
  .burger-btn {
    display: block;
  }
  .btn-outline {
    padding: 1rem;
  }
  .btn-solid {
    padding: 1rem;
  }

  .droplist {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    left: 0;
    top: calc(100% + 1rem);
    right: 0;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 0.8rem rgba(0, 0, 0, 0.8);
    border-radius: 0.5rem;
    padding: 1.5rem 2rem;
  }

  .droplist[data-dropdown-open="true"] {
    opacity: 1;
    visibility: visible;
  }

  .burger-btn {
    position: relative;
    height: 2rem;
    width: 2rem;
  }

  .burger-btn * {
    position: absolute;
    inset: 0;
    margin: auto;
  }

  .burger-btn[data-dropdown-open="false"] .open-btn {
    visibility: visible;
    opacity: 1;
  }
  .burger-btn[data-dropdown-open="true"] .open-btn {
    visibility: hidden;
    opacity: 0;
  }

  .burger-btn[data-dropdown-open="true"] .close-btn {
    visibility: visible;
    opacity: 1;
  }
  .burger-btn[data-dropdown-open="false"] .close-btn {
    visibility: hidden;
    opacity: 0;
  }

  ul.outer-list > li > span::after {
    background-image: url(./images/icon-arrow-dark.svg);
  }
  ul.outer-list > li > span[data-dropdown-open="true"]::after {
    rotate: 180deg;
  }

  ul.outer-list span {
    justify-content: center;
    font-size: 1.1rem;
  }

  header .btn-solid {
    background: linear-gradient(90deg, var(--Very-light-red), var(--Light-red));
    color: white;
  }

  .header .btn-outline {
    color: black;
  }
  .outer-list {
    color: black;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 0px;
    border-bottom: 1px solid var(--grey-dropdown);
    padding-bottom: 1.5rem;
  }

  .outer-list > li {
    padding: 0;
    justify-content: center;
  }
  .inner-list {
    position: relative;
    background-color: var(--grey-dropdown);
    max-height: 0;
    padding: 0;
    overflow: hidden;
    color: var(--Very-dark-grayish-blue-body-copy);
    transition: 200ms;
  }

  .inner-list li {
    padding: 0.6rem;
  }

  .details-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
  }

  .inner-list[data-dropdown-open="true"] {
    padding-block: 1.5rem;
    max-height: initial;
  }
}

.hero {
  padding-bottom: 6rem;
  padding-top: 12rem;
  background-image: url(./images/bg-pattern-intro-desktop.svg),
    linear-gradient(50deg, var(--Very-light-red), var(--Light-red));
  background-size: 150%, 100%;
  background-position: 5% 50%, 0 0;
  background-repeat: no-repeat;
  border-bottom-left-radius: clamp(3rem, 10vw, 6rem);
}

.hero .conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 3.5rem;
  color: white;
  font-weight: 300;
  padding-bottom: 1.5rem;
  text-align: center;
}

.hero p {
  color: white;
  padding-bottom: 2.5rem;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .hero h1 {
    font-size: 2rem;
  }
}

/* ================================= */
/* FEATUERE1 */
/* ================================= */

.feature1 {
  text-align: center;
  position: relative;
  padding-top: 7rem;
  padding-bottom: 18rem;
  overflow-x: hidden;
}

.feature1__heading1 {
  font-size: 1.8rem;
  color: var(--Very-dark-blue-headings);
  margin-bottom: 3.5rem;
}

.feature1-subheading {
  font-size: 1.8rem;
  margin-bottom: 1.75rem;
  color: var(--Very-dark-blue-headings);
  margin-top: 3.5rem;
  font-weight: 500;
}

.feature1-p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--Very-dark-grayish-blue-body-copy);
  margin-bottom: 4rem;
}

.feature1-img {
  margin-inline: auto;
}

@media screen and (min-width: 768px) {
  .feature1__heading1 {
    margin-bottom: 7.5rem;
    font-size: 2.5rem;
  }
  .feature1-img {
    width: 60%;
    right: 0;
    top: 50%;
    /* bottom: 0;
    margin-block: auto; */
    transform: translate(27%, -50%);
    position: absolute;
    z-index: -1;
  }

  .feature1-p {
    font-size: 1.2rem;
  }

  .align-left {
    text-align: left;
  }

  .text-half {
    width: 50%;
  }
}

/* ================================= */
/* STATE */
/* ================================= */

.state {
  background: url(./images/bg-pattern-circles.svg) center -175% / 150% no-repeat,
    linear-gradient(
      var(--Very-dark-gray-blue),
      var(--Very-dark-desaturated-blue)
    );
  border-top-right-radius: 8rem;
  border-bottom-left-radius: 8rem;
  position: relative;
  color: white;
  padding-top: 14.5rem;
  padding-bottom: 8rem;
  text-align: center;
}

.state__img {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  right: 0;
  left: 0;
  margin: auto;
}

.state__heading {
  font-size: 2.5rem;
  font-weight: 400;
  margin-bottom: 1.75rem;
}

.state__p {
  line-height: 2;
  font-size: 1.1rem;
  font-weight: 300;
}

@media screen and (min-width: 768px) {
  .state {
    padding-block: 7.5rem;
  }

  .state .conteiner {
    position: relative;
  }

  .state__img {
    margin: 0;
    top: 50%;
    left: 0;
    width: 50%;
  }

  .state__heading {
    margin-left: auto;
    text-align: left;
  }
  .state__p {
    text-align: left;
    margin-left: auto;
  }
}

/* ================================= */
/* FEATURE2 */
/* ================================= */

.feature2 {
  text-align: center;
  position: relative;
  padding-top: 2rem;
  overflow-x: hidden;
}

.feature2-subheading {
  font-size: 1.8rem;
  margin-bottom: 1.75rem;
  color: var(--Very-dark-blue-headings);
  margin-top: 3.5rem;
  font-weight: 500;
}

.feature2-p {
  font-size: 1.1rem;
  line-height: 1.5;
  color: var(--Very-dark-grayish-blue-body-copy);
  margin-bottom: 4rem;
}

.feature2-img {
  margin-inline: auto;
}

@media screen and (min-width: 768px) {
  .feature2 {
    padding-top: 18rem;
  }
  .feature2-img {
    width: 60%;
    left: 0;
    top: 50%;
    /* bottom: 0;
    margin-block: auto; */
    transform: translate(-30%, -35%);
    position: absolute;
    z-index: -1;
  }

  .feature2-subheading {
    margin-left: auto;
  }

  .feature2-p {
    font-size: 1.2rem;
    margin-left: auto;
    margin-top: auto;
  }

  .align-left {
    text-align: left;
  }

  .text-half {
    width: 50%;
  }
}

/* ================================= */
/* FOOOTER */
/* ================================= */

.footer {
  background-color: var(--Very-dark-black-blue-footer-background);
  border-top-right-radius: 10rem;
  padding-block: 4.5rem;
  display: flex;
  text-align: center;
  margin-top: 6.5rem;
}

.footer .conteiner {
  display: grid;
  gap: 3.5rem;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

.footer h3 {
  font-weight: 500;
  margin-bottom: 1.5rem;
  color: white;
}

.footer a {
  color: var(--Grayish-blue-footer-text);
  text-decoration: none;
  font-weight: 300;
  line-height: 1.5;
}

.footer a:hover {
  text-decoration: underline;
}

@media screen and (min-width: 768px) {
  .footer {
    text-align: left;
  }
  .footer .conteiner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
