:root {
  font-family: "Overpass", sans-serif;
  --Very-light-red: hsl(13, 100%, 72%);
  --Light-red: hsl(353, 100%, 62%);
  --Light-red-CTA-text: hsl(356, 100%, 66%);
  --Very-light-red-CTA-hover-background: hsl(355, 100%, 74%);
  --Very-dark-blue-headings: hsl(208, 49%, 24%);
  --White-text: hsl(0, 0%, 100%);
  --Grayish-blue-footer-text: hsl(240, 2%, 79%);
  --Very-dark-grayish-blue-body-copy: hsl(207, 13%, 34%);
  --Very-dark-black-blue-footer-background: hsl(240, 10%, 16%);
  --Very-dark-gray-blue: hsl(237, 17%, 21%);
  --Very-dark-desaturated-blue: hsl(237, 23%, 32%);
  font-size: 1rem;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h1 {
  font-family: "Ubuntu", sans-serif;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
}

.conteiner {
  max-width: 75rem;
  margin-inline: auto;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 1.5rem;
}

header .conteiner {
  display: flex;
  gap: 4rem;
  align-items: center;
}

.outer-list {
  display: flex;
  gap: 2rem;
  color: white;
}

ul.outer-list > li {
  position: relative;
}

ul.outer-list span {
  display: flex;
  padding-block: 1rem;
  align-items: center;
  gap: 0.5rem;
}

ul.outer-list span:hover {
  text-decoration: underline;
  font-weight: 700;
}

ul.outer-list > li > span::after {
  content: "";
  background-image: url(./images/icon-arrow-light.svg);
  display: inline-block;

  height: 0.7rem;
  width: 0.7rem;
  background-repeat: no-repeat;
  background-size: contain;
}

ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  color: black;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
}

ul li {
  padding-block: 0.3rem;
  cursor: pointer;
}

ul li ul li:hover {
  font-weight: 700;
}

ul li:hover ul {
  opacity: 1;
  visibility: visible;
}

ul li:hover span::after {
  transform: rotate(180deg);
}

.ml-auto {
  margin-left: auto;
}

.flex {
  display: flex;
  gap: 0.8rem;
}

.btn-solid {
  background-color: white;
  border-radius: 1.5rem;
  padding-block: 0.8rem;
  padding-inline: 1.2rem;
  color: hsl(353, 100%, 62%);
  font-weight: 600;
}

.btn-solid:hover {
  background-color: hsl(353, 100%, 62%, 0.8);
  color: white;
}

.btn-outline:hover {
  background-color: white;
  color: hsl(353, 100%, 62%);
}

.btn-outline {
  border: 1px solid white;
  border-radius: 1.5rem;
  padding-block: 0.6rem;
  padding-inline: 1.2rem;
  color: white;
  font-weight: 600;
}

.hero {
  padding-bottom: 6rem;
  padding-top: 12rem;
  background-image: url(./images/bg-pattern-intro-desktop.svg),
    linear-gradient(50deg, var(--Very-light-red), var(--Light-red));
  background-size: 150%, 100%;
  background-position: 5% 50%, 0 0;
  background-repeat: no-repeat;
  border-bottom-left-radius: clamp(3rem, 10vw, 6rem);
}

.hero .conteiner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hero h1 {
  font-size: 3.5rem;
  color: white;
  font-weight: 300;
  padding-bottom: 1.5rem;
  text-align: center;
}

.hero p {
  color: white;
  padding-bottom: 2.5rem;
  text-align: center;
}
