:root {
  font-family: "Overpass", sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: red;
}

ul {
  list-style: none;
}

h1 {
  font-family: "Ubuntu", sans-serif;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  position: relative;
}

header .conteiner {
  display: flex;
  gap: 4rem;
  background-color: rgb(255, 72, 0);
}

header > *:last-child {
  margin-left: auto;
}

.outer-list {
  display: flex;
  gap: 2rem;
  color: white;
}

span {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

ul.outer-list > li > span::after {
  content: "";
  background-image: url(./images/icon-arrow-light.svg);
  display: inline-block;

  height: 0.7rem;
  width: 0.7rem;
  background-repeat: no-repeat;
  background-size: contain;
}

li ul {
  display: none;
}
ul li:hover ul {
  display: block;
  position: absolute;
  color: black;
  margin-top: 1rem;
  padding: 1rem;
  background-color: white;
  border-radius: 5px;
}

ul li:hover span::after {
  transform: rotate(180deg);
}

.btn-solid {
  border: none;
  background-color: white;
  border-radius: 1.5rem;
  padding-block: 0.6rem;
  padding-inline: 1.2rem;
  color: hsl(353, 100%, 62%);
  font-weight: 600;
}

.btn-outline {
  background: transparent;
  border: 1px solid white;
  border-radius: 1.5rem;
  padding-block: 0.6rem;
  padding-inline: 1.2rem;
  color: white;
  font-weight: 600;
}
